body {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
  position:relative;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  font-weight: bolder;
}

.sort-down{
  position: absolute;
  bottom: 0px;
  font-size: 270%;
  margin: 0 0 15% 15%;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-white {
  background-color: white;
}

.font-orenge{
  color: orange;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}

.footer{
  font-size: 100%;
  padding: 7% 0 0 7%;
}

.btngit{
  margin-left: 3%;
}

.email{
  margin-top: 3%;
}

.gmail{
  margin-left: 6%;
  display: inline-block;
}